    /* This makes it so that everything get a property so that all the sizing is 
     included when width and height are applied- all included in total div space, notice the "*" symbol usage*/
* {

    box-sizing: border-box;
}

 /* Set all these unless otherwise told something different */
body {
    background: url(../images/dust_scratches.png)
    font-size: 18px;
    line-height: 34px;
    font-family:Arial, Helvetica, sans-serif;
    color:#777;
   
}

 /* This is saying the width is the whole page but the whole thing has a max with of 960 and the margin will be nothing and centered. 
    Clearing both is saying that if I give a float to some other element left or right, make sure that it is clear from other elements */
.container {
    width: 100%;
    max-width:960px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom:0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    color: #4aaaa5;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20 px;
}




#logo {
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;

}

nav ul li a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    border-left: 1px solid #efefef;
    padding-left:15px;
    
}

/* this is so that there is no boarder on the first element of the navbar*/
nav a:first-child {
    border-left: 0 none;
}

/* main */
.main-container {
    padding-top: 130px;

}

.main-section {
    background: #fff;
    padding: 30px;
    margin: 0 0 40px 0;
    border: 1px solid #ddd;
}

#profimg {
    max-width:50%;
    padding-right:10px;
}

/* sidebars */

.sidebar {
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width:270px;
    float:right;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

h3, .sidebar, h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height:22px;
}

.social, .work {
    width: 100%;
    max-width: 100%;
}



.social li {
    display: inline;
}
.social li img {
    width: 30%;
    max-width:100%;

}

/* .social:last-child {
    margin-right: 0px;
} */

footer {
    background: #666;
    color: #fff;
    padding: 30px 0px;
    clear: both;
    border-top: 8px solid #4aaaa5;
    color: #ccc;
    font-size: 12px;
    text-align: center;
    min-height: 100%;
}


/* portfolio */


/* Contact */

#contact-form ul {
    margin-bottom: 10px;
}

#contact-form li {
    margin-bottom: 10px;

}
 label,
 input[type=text],
 input[type=email],
 textarea {
     display: block;
     width:100%;    
 }

 input[type=text],
 input[type=email],
 textarea {
     height: 35px;
     border:1px solid #ddd;
     padding: 0 10px;
     font-size: 14px;
 }

 textarea {
     height: 200px;
 }

input[type=submit] {
     background: #4aaaa5;
     border: 0 none;
     color: #fff;
     font-size: 18px;
     padding:10px 30px;
     cursor: pointer; 
}

.small-icon{
    max-width: 20%;
    max-height:20%;
}